.ms-progress-wrapper_A043BXZ {
  .ms-progress-container_XH4B78M {
    position: relative;
    background-color: antiquewhite;
    padding: 3px;
    margin: 10px;
    width: calc(100% - 24px);
  }

  .ms-progress-bar_NMK78H2 {
    height: 100%;
    transition: width 0.5s;
    background-size: 200% 200%;
    position: relative;
  }

  .ms-progress-label_97NH7CX {
    width: 98%;
    font-weight: bold;
    display: flex;
    align-items: center;
    background: transparent !important;
    margin: auto;
    padding: 0 5px;
    box-sizing: border-box;
    transition: width 0.5s;
    position: absolute;
  }
}

@keyframes moveBG {
  100% {
    background-position: 100% 100%;
  }
}
